@charset "CP850";
.icons-checkout-sprite, .status-pagamento .item-status .icon-status.icon-identificacao, .status-pagamento .item-status .icon-status.icon-pagamento, .status-pagamento .item-status .icon-status.icon-confirmacao, .status-pagamento .item-status .icon-status.icon-renovacao, .status-pagamento .item-status.ativo .icon-status.icon-identificacao, .status-pagamento .item-status.ativo .icon-status.icon-pagamento, .status-pagamento .item-status.ativo .icon-status.icon-confirmacao, .status-pagamento .item-status.ativo .icon-status.icon-renovacao, .box-forma-pagamento .frase-aviso-pop-up .icon-aviso-pop-up, .como-pagar .icon-como-pagar, .title-cadastro .icon-cadastro, .title-login .icon-login, .pagamento-final-content .topo .icon-pagamento-sucesso, .pagamento-final-content .topo .icon-pagamento-cancelado, .support-pagamento-cancelado .icon-telefone, .support-pagamento-cancelado .icon-email, .support-pagamento-cancelado .icon-pergunta, .content-renovacao-revista .box-title .icon-revista-impressa, .content-renovacao-revista .box-title .icon-revista-online { background: url('../img/icons-checkout-s9900a9eafa.png') no-repeat; }

/*font-family: 'open_sans_condensedbold', Helvetica, Arial, sans-serif; font-weight: normal;*/
/*font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif; font-weight: 700; */
/*============================
Status Pagamento
==============================*/
.status-pagamento { float: left; background: url(../img/barra-background.png) 43px 17px no-repeat; margin: 18px 0px 0px 230px; }

.status-pagamento .item-status { float: left; text-align: center; margin-right: 140px; z-index: 10; }

.status-pagamento .item-status.last { margin-right: 0px; }

.status-pagamento .item-status .icon-status { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; width: 40px; height: 40px; margin-bottom: 2px; }

.status-pagamento .item-status .title-status { display: block; font-size: 14px; font-weight: bold; text-align: center; color: #9a9fa2; }

.status-pagamento .item-status.ativo .title-status { color: #709d89; }

.status-pagamento .item-status .icon-status.icon-identificacao { background-position: 0 -390px; }

.status-pagamento .item-status .icon-status.icon-pagamento { background-position: 0 -40px; }

.status-pagamento .item-status .icon-status.icon-confirmacao { background-position: 0 -470px; }

.status-pagamento .item-status .icon-status.icon-renovacao { background-position: 0 -272px; }

.status-pagamento .item-status.ativo .icon-status.icon-identificacao { background-position: 0 -350px; }

.status-pagamento .item-status.ativo .icon-status.icon-pagamento { background-position: 0 0; }

.status-pagamento .item-status.ativo .icon-status.icon-confirmacao { background-position: 0 -430px; }

.status-pagamento .item-status.ativo .icon-status.icon-renovacao { background-position: 0 -232px; }

.status-pagamento.renovacao { background: url(../img/barra-background-2.png) 43px 17px no-repeat; margin: 18px 0px 0px 165px; }

.status-pagamento.renovacao .item-status { margin-right: 100px; }

/*============================
Pagamento Doação
==============================*/
.section-doacao-pagamento { padding: 15px 0px 100px 0px; }

.box-forma-pagamento { padding: 40px 0px 25px 0px; margin: 0 auto; border-bottom: dotted 1px #ccc; }

.title-forma-pagamento { font-size: 20px; font-weight: bold; color: #333; margin: 0px 0px 0px 0px; padding-bottom: 5px; border-bottom: dotted 1px #ccc; }

.box-forma-pagamento ul { width: 100%; text-align: center; padding: 25px 0px 25px 0px; }

.box-forma-pagamento ul .item-forma-pagamento { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; text-align: center; padding: 20px 35px; background: #e1e3e4; color: #013765; margin: 0px 12px 0px 12px; cursor: pointer; }

.box-forma-pagamento ul .item-forma-pagamento:hover { background: #6e9d89; color: #fff; }

.box-forma-pagamento ul .item-forma-pagamento.ativo { background: #6e9d89; color: #fff; }

.box-forma-pagamento ul .item-forma-pagamento label { font-size: 18px; font-weight: bold; cursor: pointer; white-space: nowrap; }

.box-forma-pagamento ul .item-forma-pagamento input[type="radio"] { margin-right: 3px; cursor: pointer; }

.box-forma-pagamento .content-tab { display: none; }

.box-forma-pagamento .frase-cartao-credito { padding: 8px 15px; margin-bottom: 0px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; font-size: 14px; color: #666666; border: solid 1px #ccc; }

.box-forma-pagamento .frase-aviso-pop-up { font-style: 14px; text-align: center; margin: 15px 0px 0px 0px; color: #666666; }

.box-forma-pagamento .frase-aviso-pop-up .icon-aviso-pop-up { width: 22px; height: 19px; margin-right: 5px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; background-position: 0 -605px; }

.box-forma-pagamento .list-bancos { width: 100%; text-align: center; padding: 15px 0px 0px 0px; }

.box-forma-pagamento .list-bancos .item-banco { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; font-size: 14px; color: #666; text-align: center; padding: 0px 0px 0px 0px; margin: 0px 12px 0px 12px; }

.box-forma-pagamento .list-bancos .item-banco label { cursor: pointer; }

.box-forma-pagamento .list-bancos .item-banco input[type="radio"] { position: relative; top: 3px; margin-right: 5px; }

.box-forma-pagamento .list-bancos .item-banco img { margin-right: 5px; }

.box-forma-pagamento .content-input-banco { margin: 0 auto; margin-top: 20px; width: 520px; }

.box-forma-pagamento .content-input-banco .item-input { float: left; margin-right: 50px; }

.box-forma-pagamento .content-input-banco .item-input.agencia { width: auto; }

.box-forma-pagamento .content-input-banco .item-input.agencia #agencia { width: 80px; margin-right: 3px; }

.box-forma-pagamento .content-input-banco .item-input.agencia #digito-agencia { width: 40px; }

.box-forma-pagamento .content-input-banco .item-input.conta { width: auto; }

.box-forma-pagamento .content-input-banco .item-input.conta #conta-corrente { width: 95px; margin-right: 3px; }

.box-forma-pagamento .content-input-banco .item-input.conta #digito-conta-corrente { width: 40px; }

.box-forma-pagamento .content-input-banco .item-input.dia { width: 150px; margin-right: 0px; }

.box-finalizar-compra { padding: 25px 0px 30px 0px; }

.como-pagar { font-size: 12px; font-weight: bold; color: #666; margin-top: 10px; float: left; }

.como-pagar:hover { text-decoration: underline; }

.como-pagar .icon-como-pagar { width: 19px; height: 19px; margin-right: 3px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; background-position: 0 -586px; }

/*============================
Pagamento Associacao
==============================*/
.section-associacao-pagamento { padding: 15px 0px 100px 0px; }

/*Confirmacao item*/
.section-confirmacao-item { padding: 15px 0px 100px 0px; }

.box-confirmacao-item { padding: 25px 15px; margin: 0 auto; background: #e1e3e4; margin-top: 15px; }

.title-confirmacao-item { color: #013765; font-size: 24px; font-family: 'open_sans_condensedbold', Helvetica, Arial, sans-serif; font-weight: normal; text-transform: uppercase; margin: 0px 0px 25px 0px; }

.confirmacao-item-content { padding-right: 15px; }

.confirmacao-item { float: left; min-width: 175px; min-height: 129px; padding: 0px 5px; text-align: center; color: #013765; vertical-align: middle; background: #fff; border: solid 1px #cacccd; margin-right: 12px; position: relative; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: #c7c8c8 2px 2px 0px 0px; -moz-box-shadow: #c7c8c8 2px 2px 0px 0px; box-shadow: #c7c8c8 2px 2px 0px 0px; }

.confirmacao-item b { font-size: 46px; word-break: break-all; font-family: 'open_sans_condensedbold', Helvetica, Arial, sans-serif; font-weight: normal; margin-top: 30px; display: block; text-align: center; padding: 0px 5px; }

.lt-ie8 .confirmacao-item b { line-height: 70px; margin-top: 0px; }

.confirmacao-item b .cifrao { position: relative; font-size: 14px; font-family: Arial, Helvetica, sans-serif; top: -24px; margin-right: 1px; }

.confirmacao-item .descricao { font-weight: bold; font-size: 14px; display: block; margin-top: 6px; }

.icon-plus.confirmacao { float: left; margin-right: 12px; }

.frase-confirmacao-item { font-size: 14px; }

.frase-pagamento { padding: 8px 15px; text-align: center; margin-top: 35px; margin-bottom: 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; font-size: 14px; color: #666666; border: solid 1px #ccc; }

.frase-pagamento-2 { padding: 8px 15px; text-align: center; margin-top: 35px; margin-bottom: 15px; font-size: 14px; color: #666666; }

/*================================
Pagamento
===================================*/
.section-pagamento { padding: 15px 0px 100px 0px; }

/*================================
Termo
===================================*/
.box-termo { padding: 30px 0px 0px 0px; font-size: 14px; }

.box-termo input[type="checkbox"] { position: relative; top: 2px; }

.box-termo a { font-weight: bold; }

.box-termo a:hover { text-decoration: underline; }

/*================================
Carrinho Revista
===================================*/
.table-revista .th-first-revista { background-color: #6e9d89; background-repeat: no-repeat; background-position: left center; text-align: left; padding-left: 52px; }

.table-revista .th-first-revista.revista-online { background-image: url(../img/revista-online.png); }

.table-revista .th-first-revista.revista-impressa { background-image: url(../img/revista-impressa.png); }

/*================================
Cadastro
===================================*/
.section-cadastro { padding: 30px 0px 100px 0px; }

.title-cadastro .icon-cadastro { width: 40px; height: 40px; margin-right: 10px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; background-position: 0 -350px; }

.box-cadastro { margin-bottom: 30px; }

.box-cadastro .title-form { font-size: 18px; font-weight: bold; color: #013766; margin: 0px 0px 8px 0px; }

.item-juridica { display: none; }

.label-tipo-pessoa { font-size: 12px; font-weight: bold; color: #333; margin-right: 15px; }

.label-tipo-pessoa input[type="radio"] { position: relative; top: 2px; margin-right: 3px; }

.box-cadastro .nao-sei-cep { margin: 25px 0px 0px 8px; text-decoration: underline; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; font-size: 11px; color: #999; }

.label-isento { font-size: 12px; font-weight: bold; color: #333; margin: 27px 0px 0px 8px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }

.label-isento input[type="checkbox"] { position: relative; top: 2px; margin-right: 3px; }

.box-cadastro .msg-campos-obrigatorios { font-size: 11px; color: #999; }

/*================================
Login
===================================*/
.section-login { padding: 30px 0px 100px 0px; }

.title-login .icon-login { width: 40px; height: 40px; margin-right: 10px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; background-position: 0 -350px; }

.box-login { width: 388px; padding: 0px 45px 50px 0px; margin: 0px 45px 40px 0px; }

.box-login { border-right: dotted 1px #ccc; }

.box-cadastrar { width: 340px; padding: 0px 0px 50px 0px; margin: 0px 0px 40px 0px; }

.box-login .esqueci-senha { text-decoration: underline; display: block; font-size: 11px; color: #999; }

.box-cadastrar .nao-sei-cep { text-decoration: underline; display: block; font-size: 11px; color: #999; }

/*================================
Pagamento Produto
===================================*/
.pagemento-peditos-content { margin-top: 15px; }

.pagemento-peditos-content .box-pedido { width: 455px; min-height: 190px; position: relative; background: #edeeef; padding: 10px 10px; }

.lt-ie8 .pagemento-peditos-content .box-pedido { width: 400px; background: #edeeef; padding: 10px 10px; }

.pagemento-peditos-content .box-pedido .title { margin: 0px 0px 8px 0px; padding-bottom: 2px; border-bottom: dotted 1px #ccc; font-size: 18px; font-family: 'open_sans_condensedbold', Helvetica, Arial, sans-serif; font-weight: normal; text-transform: uppercase; color: #013766; }

.pagemento-peditos-content .box-pedido .title-valor { float: right; font-size: 14px; width: 80px; }

.pagemento-peditos-content .box-pedido .valor { float: right; color: #333; font-weight: bold; font-size: 14px; width: 80px; }

.pagemento-peditos-content .box-pedido .row-pedido { margin: 0px 0px 3px 0px; }

.pagemento-peditos-content .box-pedido .row-pedido .item { font-size: 14px; color: #333; }

.lt-ie8 .pagemento-peditos-content .box-pedido .row-pedido .item { float: left; }

.pagemento-peditos-content .box-pedido .row-pedido .item-endereco { display: block; font-size: 14px; color: #333; }

.pagemento-peditos-content .box-pedido .footer-pedido { position: absolute; bottom: 5px; width: 435px; padding-top: 2px; border-top: dotted 1px #ccc; }

.lt-ie8 .pagemento-peditos-content .box-pedido .footer-pedido { width: 402px; }

.pagemento-peditos-content .box-pedido .footer-pedido .item { font-size: 14px; font-weight: bold; text-transform: uppercase; }

.pagemento-peditos-content .box-pedido .footer-pedido .editar-endereco { font-size: 12px; font-weight: bold; text-decoration: underline; color: #013766; }

.vale-brinde.vale-brinde-pagamento { margin: 30px 0px 0px 0px; }

/*================================
Frete Pagamento Produto
===================================*/
.box-frete-pagamento { padding: 40px 0px 15px 0px; margin: 0 auto; }

.title-frete-pagamento { font-size: 20px; font-weight: bold; color: #333; margin: 0px 0px 0px 0px; padding-bottom: 5px; border-bottom: dotted 1px #ccc; }

.box-frete-pagamento .item-frete { float: left; width: 230px; margin-top: 25px; margin-right: 15px; }

.box-frete-pagamento .item-frete img { border: solid 1px #ccc; margin-bottom: 3px; cursor: pointer; }

.box-frete-pagamento .item-frete input[type="radio"] { cursor: pointer; margin-right: 5px; }

.box-frete-pagamento .item-frete .nome { display: block; font-size: 14px; line-height: 20px; padding-left: 17px; }

.box-frete-pagamento .item-frete .valor { display: block; font-size: 14px; font-weight: bold; line-height: 20px; padding-left: 17px; color: #013766; }

/*================================
Editar Endereço
===================================*/
.box-editar-endereco { width: 725px; margin: 0 auto; }

.box-editar-endereco .title-form { font-size: 18px; font-weight: bold; color: #013766; margin: 0px 0px 8px 0px; }

.box-editar-endereco .nao-sei-cep { margin: 25px 0px 0px 8px; text-decoration: underline; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; font-size: 11px; color: #999; }

/*================================
Pagamento Sucesso
===================================*/
.header-pagamento-sucesso { width: 100%; height: 250px; }

.imagem-pagamento-sucesso { width: 100%; height: 250px; background-position: center center; background-repeat: no-repeat; }

.section-pagamento-final { margin-top: -150px; }

.pagamento-final-content { width: 800px; min-height: 700px; padding: 40px 40px 20px 40px; background: url(../img/bg-pagamento-sucesso.png) left top no-repeat; }

.pagamento-final-content .topo { position: relative; margin: 0px 0px 40px 0px; }

.pagamento-final-content .topo h2 { margin: 15px 0px 0px 0px; font-size: 26px; font-weight: bold; color: #013766; }

.pagamento-final-content .topo .icon-pagamento-sucesso { width: 76px; height: 76px; display: block; float: left; margin-right: 15px; background-position: 0 -156px; }

/*Carousel produtos relacionados*/
.section-carousel-home.produtos-relacionados-sucesso { padding: 0px 0px 60px 0px; }

.section-carousel-home.produtos-relacionados-sucesso .w-800 { border-top: dotted 1px #ccc; padding-top: 30px; }

.section-carousel-home.produtos-relacionados-sucesso .carousel-produto-content { width: 800px; }

.section-carousel-home.produtos-relacionados-sucesso .carousel-produto-content .box { padding: 0px 35px; }

/*================================
Pagamento Cancelado
===================================*/
.pagamento-final-content .topo h2.cancelado { color: #9e0b0f; }

.pagamento-final-content .topo .icon-pagamento-cancelado { width: 76px; height: 76px; display: block; float: left; margin-right: 15px; background-position: 0 -80px; }

.support-pagamento-cancelado { width: 100%; }

.support-pagamento-cancelado .support .box-support { margin-right: 10px; }

.support-pagamento-cancelado .box-support a { display: block; float: left; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.support-pagamento-cancelado .box-support a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

.support-pagamento-cancelado .title-support-footer { color: #013766; font-size: 16px; font-family: 'open_sans_condensedbold', Helvetica, Arial, sans-serif; font-weight: normal; margin: 0px 0px 15px 0px; text-transform: uppercase; }

.support-pagamento-cancelado .icon { width: 38px; height: 38px; display: block; margin-right: 8px; }

.support-pagamento-cancelado .icon-telefone { background-position: 0 -312px; }

.support-pagamento-cancelado .icon-email { background-position: 0 -510px; }

.support-pagamento-cancelado .icon-pergunta { background-position: 0 -548px; }

.support-pagamento-cancelado .description-light { width: 75%; display: block; font-size: 11px; line-height: 16px; text-transform: uppercase; color: #666; margin-top: 2px; }

.support-pagamento-cancelado .description-bold { display: block; font-size: 16px; font-weight: bold; text-transform: uppercase; color: #333; }

/*================================
Associacao Renovação
===================================*/
.section-associacao-renovacao { padding: 30px 0px 100px 0px; }

.frase-renovacao { font-size: 16px; font-weight: bold; color: #013765; text-align: center; margin-bottom: 40px; }

.modalidade-content { padding: 0px 0px 30px 0px; margin-bottom: 30px; border-bottom: dotted 1px #ccc; }

.modalidade-item { width: 385px; min-height: 140px; padding: 15px 15px; background: #e1e3e4; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; cursor: pointer; }

.modalidade-item label { font-size: 18px; display: block; margin-bottom: 10px; font-weight: bold; color: #013766; }

.modalidade-item p { font-size: 14px; display: block; margin-bottom: 0px; color: #333; }

.modalidade-item.ativo, .modalidade-item:hover { background: #709d89; }

.modalidade-item.ativo label, .modalidade-item:hover label { color: #fff; }

.modalidade-item.ativo p, .modalidade-item:hover p { color: #fff; }

/*================================
Revista Renovação
===================================*/
.section-revista-renovacao { padding: 30px 0px 100px 0px; }

.content-renovacao-revista { margin-top: 30px; min-height: 400px; }

.content-renovacao-revista .box { background: #e1e3e4; }

.content-renovacao-revista .box-title { background: #6e9d89; color: #fff; font-size: 18px; line-height: 32px; text-transform: uppercase; margin: 0px; font-family: 'open_sans_condensedbold', Helvetica, Arial, sans-serif; font-weight: normal; color: #fff; }

.content-renovacao-revista .box-title .icon-revista-impressa { float: left; margin-right: 10px; display: block; width: 40px; height: 32px; background-position: 0 -624px; }

.content-renovacao-revista .box-title .icon-revista-online { float: left; margin-right: 10px; display: block; width: 40px; height: 32px; background-position: 0 -656px; }

.content-renovacao-revista .descricao-box-assine-revista { font-size: 14px; line-height: 16px; margin: 10px 0px 10px 0px; padding: 0px 10px; }

.content-renovacao-revista .preco-assine-revista { font-size: 12px; color: #666; padding: 0px 10px; margin: 10px 0px 10px 0px; text-align: center; }

.content-renovacao-revista .preco-assine-revista .de { margin-right: 15px; }

.content-renovacao-revista .preco-assine-revista .por b { font-size: 18px; color: #013765; }

.content-renovacao-revista .but-small { padding: 6px 20px; }
