table { width: 100%; }

table tr th { padding: 6px 7px; font-size: 12px; font-weight: bold; text-transform: uppercase; text-align: left; vertical-align: middle; color: #333333; border-bottom: solid 1px #d7d7d7; }

table tr td { padding: 6px 7px; font-size: 12px; text-align: left; vertical-align: middle; color: #666666; border-bottom: solid 1px #d7d7d7; }

table tr td a { vertical-align: middle; color: #666666; }

table tr td a:hover { text-decoration: underline; }

table tr td a.but:hover { text-decoration: none; }
